BSC_RPC=https://bsc-dataseed.binance.org
BSC_TESTNET_RPC=https://data-seed-prebsc-1-s1.binance.org:8545
PRIVATE_KEY=
BSCSCAN_API_KEY=
PRICE_FEED_BNB_USD=0x0567F2323251f0Aab15c8dFb1967E4e8A7D42aeE
FEE_COLLECTOR=
CCIP_ROUTER_BSC=0x34A1D3fff3958CAA7cd4E429a0521794b92B9AaD
